.headerTop {

width: 100%; 
height: 70px;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 92%;
background-color: #FFFFFF;
overflow: hidden;
border:0%;
margin: 0%;
}

.ava {
  /*background: url("persona.jpg"); */
    position: absolute;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    height:30%;
}
.headerLogo {
  
  background: url("logo.jpg");
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  left: 10.28%;
  right: 78.61%;
  top: 0%;
  bottom: 92%;

  }

  .personalIcon {

    position: absolute;
    left: 74.72%;
    right: 10.28%;
    top: 0.89%;
    bottom: 92.89%;
  }

  .welcome {

    position: fixed;
    height: 16px;
    left: 79.17%;
    right: 12.5%;
    top: calc(50% - 16px/2 - 423px);
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #9E9E9E;
    
  }
 .personaName {
  
  position: fixed;
  height: 19px;
  left: 79.17%;
  right: 12.5%;
  top: calc(50% - 19px/2 - 405.5px);

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;  
  color: #4A4A4A;
 }
/* Навигация */

.navigation {
    background-color: #BA1419;
    overflow: hidden;
position: fixed;
left: 0%;
right: 0%;
top: 8%;
bottom: 85.78%;
margin: 0%;
border:0%;
  }

  /* Стиль ссылок внутри панели навигации */
  .navigation a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;

  }
  .activenav {

    position: fixed;
    margin: none;
    border: none;
    left: 8.61%;
right: 80.21%;
top: 8%;
bottom: 85.78%;
display: inline-block;
border-bottom: white;
  }
  /* .activenav > hr {
    position: absolute;
    border-bottom-width: 100%;
  } */

  .activenav > a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;

  }

  .transactionNav {
    position: fixed;
    margin: none;
    border: none;
    left: 19.79%;
right: 65.49%;
top: 8%;
bottom: 85.78%;
  }

  .creditNav {
    position: fixed;
    margin: none;
    border: none;
    left: 34.51%;
right: 57.64%;
top: 8%;
bottom: 85.78%;
  }
  .contributionNav {
    position: fixed;
    margin: none;
    border: none;
left: 42.36%;
right: 50.28%;
top: 8%;
bottom: 85.78%;

  }
  .restNav {
    position: fixed;
    margin: none;
    border: none;
left: 49.72%;
right: 43.12%;
top: 8%;
bottom: 85.78%;
  }
   .backgroungOfPage {
    background: url("f.png"); 
    /* height: 100%;
    width: 100%; */
    /* background: rgba(0, 0, 0, 0.3); */
    position: absolute;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   left: 0%;
   right: 0%;
   top: 15%;
   bottom: 25.33%;
   }


  button {
    height: 40px;
    width: 97px;
    left: 923px;
    top: 744px;
    border-radius: 4px;

    
    left: 64.1%;
    right: 29.17%;
    top: 82.67%;
    bottom: 12.89%;

background: #BA1419;
border-radius: 4px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
    
  }

  #card1 {

position: absolute;
left: 23.06%;
right: 23.06%;
top: 16.89%;
bottom: 75.11%;


  }

  #card2 {

    position: absolute;
    left: 23.06%;
right: 23.06%;
top: 24.89%;
bottom: 67.11%;
  }

  #card3 {
    position: absolute;
    left: 23.06%;
    right: 23.06%;
    top: 32.89%;
    bottom: 59.11%;
  }

  #card4 {
    position: absolute;
    left: 23.06%;
    right: 23.06%;
    top: 40.89%;
    bottom: 51.11%;
  }

  #card5 {
    position: absolute;
    left: 23.06%;
    right: 23.06%;
    top: 48.89%;
    bottom: 43.11%;
  }

  #card6 {
    position: absolute;
    left: 23.06%;
    right: 23.06%;
    top: 56.89%;
    bottom: 35.11%;
  }

  .card {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0%;
margin-right: 0px;
  }

  .nameOfCard {

position: absolute;
height: 22px;
font-weight: 100;
left: 13.66%;
right: 71.26%;
top: calc(50% - 22px/2 - 13px);

display:inline-flexbox;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;    
  }

  .numberOfCard {

position: absolute;
height: 19px;
left: 13.66%;
right: 63.79%;
/* top: calc(50% - 19px/2 + 11.5px); */
top:50%;

font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;

    
  }


 .moneyLook{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 } 
  .money {
position: absolute;
height: 29px;
left: 82.09%;
right: 5.67%;
top: calc(50% - 29px/2 + 0.5px);


font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;
/* identical to box height */

text-align: right;

color: #FFFFFF;
  }

  .rubles {
position: absolute;
height: 32px;
left: 95.36%;
right: 3.09%;
top: calc(50% - 32px/2);
width: 30%;

font-family: Helvetica Neue;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFFFFF;
  }


  .card > hr {
position: absolute;
left: 0%;
right: 0%;
top: 98.61%;
bottom: 0%;

background: #CECECE;
  }

  .viewOfCard {
    background: url("iconOfCard.jpg"); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    position:absolute;
    left: 3.09%;
    right: 88.4%;
    top: 19.44%;
    bottom: 19.44%;
    border-radius: 10px;
  }

/*История*/

.history {
  width: 100%; 
height: 60px;
position: absolute;
left: 0%;
right: 0%;
top: 74.67%;
bottom: 19.11%;

background-color: #FFFFFF;
overflow: hidden;
border:0%;
margin: 0%;
}

.historyNav {
  position: absolute;
  left: 8.61%;
  right: 77.85%;
  top: 74.67%;
  bottom: 19.11%;

  margin: none;
}
.historyNav>p {
  position: fixed;
height: 19px;
left: 10.28%;
right: 79.44%;
top: calc(50% - 19px/2 + 249.5px);

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;

color: #BA1419;
}




/*FAO*/
.qmask {
  
padding: 0 15px 30px; 
left: 95%;
right: 1.67%;
top: 92%;
bottom: 2.67%;
position: absolute;
}
  .question {
  
    padding-top: 100%; 
    position: relative; 
  }

  .circleIcon {
  background: url("q.jpg");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  }
